# Requirements File
# Libraries for Dice Roll Dash app

dash  # Web framework for Dice Roll app interface
plotly  # Creates interactive histograms for Dice Roll app
pandas  # Handles data tables and CSV files for Dice Roll app
numpy  # Numerical library needed by pandas
